
*.ide-shm

server/Gateway\.Tester/bin/

server/Gateway\.Tester/obj/

server/RegistrationTest/bin/

server/RegistrationTest/obj/

server/Whatfits\.Gateways/bin/

server/Whatfits\.Gateways/obj/

server/Whatfits\.Hash/bin/

server/Whatfits\.Hash/obj/

server/Whatfits\.JsonWebToken/bin/

server/Whatfits\.JsonWebToken/obj/

server/Whatfits\.Models/bin/

server/Whatfits\.Models/obj/

server/Whatfits\.UserAccessControl/bin/

server/Whatfits\.UserAccessControl/obj/

server/Whatfits\.UserAccessControl\.Test/obj/

server/Whatfits\.UserAccessControl\.Test/bin/

server/server/bin/

server/server/obj/
