<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  
  <appSettings>
    <add key="mapURL" value="https://maps.googleapis.com/maps/api/geocode/json?address=" />
    <add key="mapKey" value="&amp;key=AIzaSyC2S7VIW4VHNZ1h0qHlBIo4QhbpIAkGgus" />
  </appSettings>
</configuration>
